[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Obj/
[Bb]in/
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/UnityConnectSettings.asset
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
*.apks
*.keystore
*.ipa
*.unitypackage
*.fbx
*.tga
.DS_Store
.vs/
.idea/
*.orig
